body {
    background-color: rgb(53, 55, 63);
    text-align: center;
    color: rgb(93, 214, 174);
}

.main-title {
    font-family: "Cinzel", serif;
    padding-top: 5%;
    text-shadow: 5px 5px 2px rgb(49, 49, 49);
}

.player-container {
    padding: 10%;
}

.player-heading {
    display: inline;
}

.footer-container {
    color: aliceblue;
    padding: 2%;
}